.glassModel{
    width: 30%;
    height: 60%;
}    
.width-60{
    width: 60%;
}
.container-fluid{
    width: 100vh;
    height: 100vh;
    max-width: 1200px;
}
.background-fixed{
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    background-image: url(./glassesImage/background.jpg);
    background-size: cover;
}
.padding13{
    padding-top: 13%;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 10%;
}